<div class="comments">
    {{#each this}}
    <div class="text">
        <p class="card-body">
            {{comment_text}} - {{user.user}} {{format_date dateCreated}}
        </p>
    </div>
    {{/each}}
</div>