<div class="card-body">
    <a href="dashboard/edit/{{id}}">
    <div class="card-header">
        <div class="col-8">Post Title: {{title}}</div>
        <div class="col-4">Created By: {{user.username}} on {{format_date dateCreated}}</div>        
    </div>
    </a>
</div>