<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div>
        <nav class="navbar">
            <a class="link" href="/">Home</a>
            <a class="link" href="/dashboard">Dashboard</a>
            <a class="link" href="/" id="logout">Logout</a>
            <a class="link" href="/login">Login</a>
          </ul>
        </nav>
      </div>

      <h1><a href="/">The Tech Blog</a></h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
</body>

</html>