<div class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body" id="edit-post-form">
        <div>
            <label for="post-title" class="form-label">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        </div>
        <div>
            <label class="form-label" for="content">Content</label>
            <input name="content" type="text" value="{{post.content}}" class="form-input" />
        </div>
        <button type="submit" class="btn btn-primary">Edit Post</button>
        <input type="hidden" name="post-id" value="{{post.id}}" />
    </form>
    <div>
        <button type="click" class="btn btn-primary" id="delete-btn">Delete Post</button>
    </div>
</div>

<script src="/js/edit.js"></script>