<h1>
  This is the login/signup page.
</h1>

<h2>LOGIN</h2>

<form class="login-form">
  <label for="username-login">Username:</label>
  <input type="text" id="username-login" />

  <label for="password-login">Password:</label>
  <input type="password" id="password-login" />

  <button type="submit">Login</button>
</form>

<h2>Signup</h2>

<form class="signup-form">
  <label for="username-signup">Username:</label>
  <input type="text" id="username-signup" />

  <label for="password-signup">Password:</label>
  <input type="password" id="password-signup" />

  <button type="submit">Signup</button>
</form>



<script src="./js/login.js"></script>