<div class="cards">
    <div class="cards-header">
        <h2>
            <a href="/post/{{post.id}}">
                <div class="col-8">{{post.title}}</div>
            </a>
        </h2>
        <div class="col-3">Posted By: {{post.user.username}}</div>
    </div>
    <p class="post-body">{{post.content}}</p>
</div>

<script src="/js/signup.js"></script>